
*{
  margin: 0;
  padding: 0;
}


.lightMode{
  --text: #572EE5;
  --backgroundGif: #E7E7E7;
  --backgroundPage:  white;
}


.darkMode{
  --text: #FFFFFF;
  --backgroundGif: #212121;
  --backgroundPage: #373737;
}

*{
  margin: 0;
  padding: 0;
}

.App{
  border-top: 5px solid #572EE5;
  background: var(--backgroundPage);
}

.gif-container{
  display: flex;
  background: var(--backgroundGif);
}



.flex-column{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal-container{
  width: 900px;
  border: 1px solid var(--grey);
  font-weight: 700;
}

.violet-text{
  font-family: 'Roboto', sans-serif;
  color: var(--violet-white);
}